[2015-05-26 07:19] subesokun opened #1 "Uncaught TypeError: Cannot read property 'root' of undefined"
Steps to reproduce:
1. Add a new project folder that is a sub-folder of a git repository

**Atom Version**: 0.198.0
**System**: linux 3.19.0-18-generic
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.1.0
### Stack Trace

Uncaught TypeError: Cannot read property 'root' of undefined

[code]
### Commands

[code]

[2015-05-26 17:54] #1 closed, assigned to subesokun

[2015-06-05 08:12] subinvarghesein opened #2 "Uncaught TypeError: Cannot read property 'length' of undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.179.0
**System**: linux 3.13.0-53-generic
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.1.1
### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-06-05 09:59] subesokun commented on #2
Thanks for reporting the issue :+1:

I see that you're using a quite old version of Atom released on 11 Feb and since then the Atom API has changed quite a bit. Is it possible for you to update to a newer version and tell me if you still see the same error there?

[2015-06-07 16:57] subesokun commented on #2
As I'm not planning to support such old versions of Atom it'd be great if you could update your Atom and see if you've still the same issue there. If so, please ping me here and attach the new error trace. Closing this issue for now.

[2015-06-07 16:57] #2 closed, assigned to nobody

[2015-06-11 19:46] subesokun opened #3 "Add tooltip to show detailed repository information"
See https://discuss.atom.io/t/announce-tree-view-git-status/17140/2?u=subesokun

[2015-06-25 10:33] sohocoke opened #4 "Projects with multiple git repositories"
I invariably end up loading a directory containing multiple git repositories as an Atom project, where the otherwise awesome git status is not displayed in the tree view.

Is it feasible to apply the detection on any directory in the project that has a `.git/`subdirectory, rather than the project root?

[2015-06-25 10:43] subesokun commented on #4
Hi @sohocoke, do you mean a tree structure like the following?

[code]

Sadly this won't be possible at the moment as `atom.project.getRepositories()` returns only repositories that are project folders. As Atom supports multiple project folders I'd recommend adding each of your repositories as separate project folder (`File > Add Project Folder...`).

[2015-07-13 13:38] carlhannes opened #5 "Filepaths with ÅÄÖ shown as new/modified"
Hi!

Even if my git status says that there are no new or modified files, files with unicode characters such as Å, Ä and Ö show up as new or modified.

Example:
![Example2](http://4st.me/VzUw5.png)

Sometimes they don't show up, either, but the folder above them are marked as modified anyway.

Example:
![Example2](http://4st.me/dk0cX.png)

[2015-07-13 13:59] subesokun commented on #5
@DeletedScreen Actually tree-view-git-status just uses the information received by the Atom [git-utils](https://github.com/atom/git-utils) package. You've to report this issue either to git-utils or [tree-view](https://github.com/atom/tree-view) (or to the atom main repo). Sorry that I can't help you more on that.

[2015-07-13 14:01] carlhannes commented on #5
Thank you! Will do @subesokun

[2015-07-13 14:01] #5 closed, assigned to nobody

[2015-07-14 03:43] stoneli88 opened #6 "Failed to activate the svn package"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.2
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.1.1
### Stack Trace

Failed to activate the svn package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-07-14 05:34] subesokun opened #7 "Gracefully handle unsupported VCS's"
to avoid runtime errors like #6

[2015-07-14 05:35] subesokun commented on #6
@stoneli88 Thanks a lot for reporting this issue! I'll try to get a fix ready by this weekend.

[2015-07-18 07:05] #6 closed, assigned to subesokun

[2015-07-18 07:05] #7 closed, assigned to subesokun

[2015-07-18 07:19] subesokun commented on #6
@stoneli88 I've fixed now the error but for now you won't see the svn status in the tree view as the atom-svn package is returning a none valid working directory for the svn repo. If they fix that issue the svn status will be shown properly. I'll open an issue for that on the atom-svn package.

[2015-07-18 19:22] subesokun commented on #4
@sohocoke As this feature proposed by you is currently not feasible with Atom I'm closing this issue for now. Feel free to ask more questions if you've any.

[2015-07-18 19:22] #4 closed, assigned to nobody

[2015-08-01 16:45] subesokun commented on #3
Added support in #3

[2015-08-01 16:45] #3 closed, assigned to subesokun

[2015-08-10 18:53] michaelaye opened #8 "All items colored as changed but are not"
Since the last update, all items in my project are colored in orange that supposedly indicates a git status change, but the actual git status is clean.

<img width="219" alt="screenshot 2015-08-10 12 51 57" src="https://cloud.githubusercontent.com/assets/69774/9180273/a51b520e-3f5e-11e5-8922-380b57cea51c.png">

System: Atom 1.0.5 on Mac OSX 10.10.4

[2015-08-10 18:57] subesokun commented on #8
@michaelaye Thanks for reporting your issue! Wow that looks really strange. Could you do me a favor and check if the items are not colored in case the tree-view-git-status package is disabled? And which Theme are you using?

[2015-08-10 19:00] michaelaye commented on #8
If I disable it, the first line `iuvs [master]` is getting uncolored. And I just realized that things work correctly for local projects, this project is on a SMB mounted remote file-sytem, maybe that has something to do with it? My themes are OneDark, both for UI and Syntax.

[2015-08-10 19:07] subesokun commented on #8
Ok that makes me a bit nervous that you still see `iuvs [master]` in case you've disabled the package. Normally this `[master]` label should have been completely removed when deactivating it. I've not tested SMD mounted remote file-systems yet but it could be that the tree-view behaves then different. Does the `[master]` label disappears when deactivating the tree-view-git-status package in case t

[2015-08-10 19:09] michaelaye commented on #8
Sorry, I was imprecise, the [master] disappears both for local and remote projects.

[2015-08-10 19:17] subesokun commented on #8
Ok, phew that are good news :) If you copy the exact same buggy remote folder onto your local file system and open it from there you can't observe the bug right?

[2015-08-10 19:29] michaelaye commented on #8
No, I still can see the same behavior with a local copy. I just copied the remotely bound folder with "cp -R foldername ." and it looks the same. I just checked the access rights and interestingly, all group and other  access rights are denied:

[code]

while for working projects `group` and `others` have read rights.

[2015-08-10 19:57] subesokun commented on #8
I've cloned your [ivus repo](https://github.com/michaelaye/iuvs) and modified a file but so far the highlighting was correct. Could you do a `git status` and tell me which files have been modified in your case?

[2015-08-10 20:18] subesokun commented on #8
Oh sorry you've mentioned that the git status was clean. Very strange... not sure yet how I can reproduce your issue. I've to think about how I can add some useful debug messages. The tree-view-git-status modifies only the title root element but not the file or other folder items in the tree-view. So normally it's not possible that these changes to the root title node are leaking into the other DO

[2015-09-11 19:02] patmcd opened #9 "Uncaught Error: ENOENT: no such file or directory, lstat '/atom:'"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.5
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.2.0
### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/atom:'

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-09-11 19:22] subesokun commented on #9
Hi @patmcd! Thanks for reporting the bug.

Some questions, did you get this error first after upgrading to tree-view-git-status `v0.2.0`? Also does this error always appear for any project you try to load or only for a specific one? Could you also tell me the absolute path to your project folder you're trying to load and tell me if the `.git` folder is a direct child of it?

For some reason node i

[2015-09-11 19:45] subesokun commented on #9
Sorry one more thing, could you try the following and tell me the output?

[code]

[2015-09-15 06:50] OmgImAlexis opened #10 "Uncaught Error: ENOENT: no such file or directory, lstat '/Users/xo/node/node-diskusage'"
[Enter steps to reproduce below:]
1. Deleted the directory while Atom was still open
2. Open the tree-view menu

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.5
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.2.0
### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/Users/xo/node/node-diskusage'

[code]
### Com

[2015-09-15 20:42] subesokun commented on #10
Hi @OmgImAlexis! In general tree-view-git-status is working for you and you get this error only when you manually delete the folder while Atom is still running or? I just want to make sure that you're not running into the same issue as in #9

I'll try to get this weekend a bug fix ready for that.

[2015-09-15 23:14] OmgImAlexis commented on #10
Yes, that's what's happening. Other than the error message, it doesn't cause any problems it's just an inconvenience to close it.

[2015-09-17 17:23] sh1ny opened #11 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\nboch_000\AppData\Local\atom\a..."
[Enter steps to reproduce below:]
1. Open atom
2. File -> Settings.

It always triggers the same error. When the error is already thrown, you can do File->Settings and settings properly come up.

**Atom Version**: 1.0.11
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.2.0
### Stack Trace

Uncau

[2015-09-17 17:27] subesokun commented on #11
Hi @sh1ny, sorry for the issues. Patch is on its way :bug:

Probably same issue as in #9

[2015-09-17 19:36] #9 closed, assigned to nobody

[2015-09-17 19:36] #11 closed, assigned to nobody

[2015-09-17 20:06] subesokun commented on #11
Bug should be fixed by now. Please update let me know if you've still issues.

[2015-09-17 20:08] subesokun commented on #10
The error should be fixed now via https://github.com/subesokun/atom-tree-view-git-status/commit/631b99b0b7e9035e2235a5a3a86e51157d7aadcd but I've noticed that in your described scenario the tree-view doesn't get correctly cleaned up internally. I'll close this issue as soon as I've fixed that as well.

[2015-09-18 20:57] sh1ny commented on #11
All fixed. You can close this. Thanks a lot !

[2015-09-19 10:32] subesokun commented on #11
Sure, you're welcome :) Also thanks for reporting it!

[2015-09-21 20:52] Maelstromeous opened #12 "Uncaught Error: Repository has been destroyed"
[Enter steps to reproduce below:]
1. Simply opened up atom

**Atom Version**: 1.0.15
**System**: Mac OS X 10.10.5
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.2.1
### Stack Trace

Uncaught Error: Repository has been destroyed

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-09-22 17:59] subesokun commented on #12
Hi @Maelstrome26! Mhh this is a strange error. Either Atom fails to get the repository for the path you're trying to open or Atom did destroy for some reason the repository. Do you've this issue with any Git project you're trying to open with Atom or only with a special one? Can you please confirm that e.g. calling "git status" in that Git project folder gives you a valid output?

[2015-09-27 07:39] #12 closed, assigned to nobody

[2015-09-27 07:54] subesokun opened #13 "Ensure that tree-view gets correctly cleaned up when toggled"
and add test specs to verify that

[2015-09-27 07:55] subesokun commented on #10
I'll track the cleanup issue in #13 so I'll be closing this one.

[2015-09-27 07:55] #10 closed, assigned to nobody

[2015-10-28 08:46] magicznyleszek opened #14 "Add descriptions for settings"
I don't know what `Auto Toggle` does. I tried switching on/of, clicking/hovering stuff and changing branches via command line git, but I don't see any difference.

[2015-10-28 19:20] subesokun commented on #14
Hi @smutnyleszek! Thanks, that's a good hint and I'll add some proper description to each setting in case it's not self-explaining.

Regarding the `Auto Toggle` feature, if enabled the `tree-view-git-status` packages gets automatically enabled i.e. toggled when starting the Atom editor. Some person might wish that by default this package isn't enabled when starting Atom so that they can manually t

[2015-11-03 18:42] AddictArts opened #15 "Integrate tooltip into project root node"
Is there a debug mode or a way to determine why the blue Head, Origin, and Path do not appear either as a tooltip if that is what it should do, or other. Thanks for the help.

[2015-11-03 19:52] subesokun commented on #15
Hi @AddictArts, actually that's a bug that I also noticed recently. With Ubuntu it worked so far fine for me but on Windows it's not showing at all. It's on my todo list and I'll try to have this weekend a look on it.

But if you also want to debug it feel free to do so :) The issue is around [this line](https://github.com/subesokun/atom-tree-view-git-status/blob/4a402200ee453636871cf00cb67d8c6100

[2015-11-15 07:49] subesokun opened #16 "Make tree-view-git-status work together with the Nuclide editor"
- Check for compatibility issues with the `nuclide-tree-view`
- Setup tests

[2015-11-15 10:39] subesokun commented on #8
Hi @michaelaye, recently on some other windows machine I've observed the same issue. At first glance it looked like this was not an issue of tree-view-git-status itself, rather the `git-utils` of Atom itself reported all files as modified. Maybe Atom was not able to correctly read out the git status of each file and then ended up in marking all files as modified. When I've more informations I'll l

[2015-12-05 09:00] subesokun commented on #16
Use `atom.packages.onDidActivateInitialPackages` event, see [this topic](https://discuss.atom.io/t/is-there-a-way-to-load-the-editors-default-tree-view/22710/2)

[2015-12-07 10:43] victorleblais opened #17 "Coloring in tree view doesn't work"
Hi,

I've installed this plugin and this doesn't seem to work for me: I can't see any coloring showing that I have modified files in my local workspace.

Here is a screenshot using a custom theme (Atom Material):
![Colors not showing in tree view, with Atom Material theme](http://i.imgur.com/rjA8DTd.png)

And here is one using the default One Dark theme, with all my other plugins disabled:
![Color

[2015-12-07 22:05] subesokun commented on #17
Hi @victorleblais! Actually the tree-view package colors only the root folder of your project and not the other sub-folder or files as this is done by the atom tree-view itself. If it's not working well there might be something off with your Atom installation itself. Sometimes the `git-utils` of Atom behaves strange... not sure how I can help you in this case. Maybe you should report this issue di

[2015-12-08 12:02] victorleblais commented on #17
You are indeed correct. My bad.

The cause of this issue is due to a negation in my gitignore not being correctly interpreted. There's an issue in tree-view about that problem here: https://github.com/atom/tree-view/issues/196

I'm closing this issue since it is not related to atom-tree-view-git-status.

[2015-12-08 12:02] #17 closed, assigned to nobody

[2015-12-14 05:08] jpeltoniemi opened #18 ".gitignored files are hidden in treeview"
As the title says, ignored files are hidden in the tree. This might be great for some projects where there are lots of ignored files that are no use in development, but I often come across situations where this is not desired, mainly configuration files and compiled CSS.

I checked the tree DOM with inspector and found that ignored files are completely removed, instead of just hidden via CSS, so I

[2015-12-14 06:41] jpeltoniemi commented on #18
I just assumed this behavior was caused by this package, since I haven't got anything else git-related enabled, when actually it's built into Atom.

[2015-12-14 06:41] #18 closed, assigned to nobody

[2016-01-25 06:43] karrots opened #19 "Add support for worktrees"
When a work tree is added to the project it doesn't show status.

[2016-01-25 21:39] subesokun commented on #19
Hi @karrots, do you mean that in case of adding a new "Project Folder" while Atom is running then the Git status is not shown correctly? Or generally no Git status is shown in the tree view? Could you tell me which version of Atom you're using and which version of tree-view-git-status? A screenshot would be also great.

[2016-01-27 02:30] karrots commented on #19
No status is shown in the tree view for the work tree folder only. The master branch shows status. It looks as though it's just a standard folder.

atom-tree-view-git-status  0.2.2
Atom version 1.4.0

https://goo.gl/photos/QHS6HVhZNpTD15Nx7

[2016-02-06 10:28] subesokun commented on #19
Hi @karrots, sorry for the delay. Actually for me everything looks ok. For your first project folder the git status gets correctly displayed and your second project folder seems like to have no Git folder (.git is missing) hence Atom will not recognize it as a Git repository. Are you sure that this `RaspberryPi-Gateway-imagebuilder` folder is under version control?

[2016-02-06 14:20] karrots commented on #19
Yes it is a Git [worktree](https://git-scm.com/docs/git-worktree) so there is no .git folder just a .git file reference to the main repository. All of the version control information is stored centrally in the main repo.

[2016-02-06 22:06] subesokun commented on #19
@karrots Mhh I see. Then it seems that Atom itself, to be more precise the [git-utils](https://github.com/atom/git-utils), has some issues at recognizing such Git worktree :( The tree-view-git-status package just reads out the SCM informations received from Atom so there's not so much I can do at the moment for you. Please feel free to create an issue on the git-utils repo, or open a discussion on

[2016-02-11 13:24] hendricha opened #20 "Changed vs. New unstaged"
Tree view git status colors all repos that contain any new, untracked files orange. Within the repo the gitutils coloring colors these as green. Could you match this behaviour too? (If there are only untracked files, mark repo green instead of orange.)

(Sadly my current workflow has multiple repos that have multiple uncommited .styl files, because I'm just locally compiling them to .css, until we

[2016-02-11 20:12] subesokun commented on #20
Hi @hendricha, yes I think that should be possible. I've noticed this already too but it was so far a minor missing feature for me. Maybe I can land a new release this weekend containing this feature :)

[2016-02-12 09:04] tsabolov opened #21 "Does not show changed files in Atom 1.5.1"
After upgrading Atom to 1.5.1 the behaviour of the plugin changed:

Steps to reproduce the problem:
1. Add git-powered project folder to tree-view
2. Change some file. In tree view there will appear a yellow dot near changed file name.
3. Switch away from Atom (i.e. to browser to see the change), and then switch back to Atom. All files in tree view are displayed as non-changed.

The issue first ap

[2016-02-12 12:20] subesokun commented on #21
@tsabolov, thanks for reporting this issue! I'll try to investigate this issue as soon as I can.

[2016-02-12 12:23] subesokun commented on #19
Closing this issue as it's Atom related and thanks for reporting the issue in the `git-utils` repo :+1:

[2016-02-12 12:23] #19 closed, assigned to nobody

[2016-02-12 12:24] subesokun commented on #8
Closing this issue as it's Atom related.

[2016-02-12 12:24] #8 closed, assigned to nobody

[2016-02-13 20:07] subesokun commented on #21
@tsabolov I was testing now the tree-view-git-status package against v1.5.x and v1.6.x but so far all test have been passing. You've mentioned that all files in the tree vie are displayed as non-changed or? Actually what this package does is just to color the root folder of that project but not the files itself. Hence the behavior you're observing might be caused by a bug in the Atom [git-utils](h

[2016-02-13 21:04] tsabolov commented on #21
@subesokun Now I see that your package is not the root of the problem (opened DevTools and found out that styling of individual changed files comes from a file `/Users/##/.atom/packages/native-ui/index.less`) Anyway thank you for showing me the right direction and sorry for disturbing
`¯\_(ツ)_/¯`

[2016-02-13 21:04] #21 closed, assigned to nobody

[2016-02-21 11:48] #20 closed, assigned to subesokun

[2016-02-22 13:42] hendricha commented on #20
Cool, thanks.

[2016-03-02 21:19] midwire commented on #15
I'm also not seeing any tooltip on OSX. I've not tried to dig into it but it seems to just not be working at all.

[2016-03-03 12:46] subesokun commented on #15
Hi @midwire, yes sadly there have been some breaking changes in Atom and since then the tooltip feature is not working anymore :( There has been a discussion regarding a native Popup API in Atom to display such tooltips but it got stuck somewhere half way, [see here](https://discuss.atom.io/t/create-an-overlay-panel-container-layer/16006). Hopefully I'll find some time in the next weeks to finally

[2016-03-03 13:54] midwire commented on #15
Ah, that is unfortunate :( I was looking forward to this plugin. Thanks for your hard work on it anyway. I'm sure it will be great once the Atom team can stabilize the API.

[2016-03-19 07:50] subesokun opened #22 "Use new async Git repository class introduced in Atom 1.6"
... and remove dependencies on old sync GitRepository.

https://github.com/atom/atom/pull/9213

[2016-04-11 16:48] boblannon-picwell opened #23 "folder is showing a different folder's status"
I have two separate repos.  one is in a folder called `etl` and the other is in one called `etltools`.  the folders are sisters:

[code]

when both project folders are added, tree-view-git-status shows the same status for both. for instance, if `etl` is checked out to `my-new-feature`, then `etltools` will display that it's also checked out to that branch (even though that branch doesn't even exis

[2016-04-11 17:12] boblannon-picwell commented on #23
noticed something:
1. checkout `my-new-feature` from `etl`, both folders show `my-new-feature` (as reported above)
2. checkout `my-nifty-branch` from `etltools`, each folder shows the correct status
3. checkout `another-new-feature` from `etl`, and i'm back to having both folders show the same status (like the result of 1, but now both show `another-new-feature`)

[2016-04-11 20:13] subesokun commented on #23
Hi @boblannon-picwell, could you do me a favor and check which branch Atom reports for files in `etl` and `etltools` and if they match the branch name showed by `jspm-git`? Sometimes Atom behaves very weird regarding git :( If Atom and `jspm-git` are reporting the same branch then you might need to file this issue directly on the Atom project.

![atom-repo-status](https://cloud.githubusercontent.c

[2016-05-10 16:28] rabbitfang commented on #23
I am experiencing this issue with project folders named `foo` and `foo-bar`. If project `foo` is on branch `apple` with `foo-bar` on `orange`, `tree-view-git-status` will display `apple` for project `foo-bar`.

One interesting thing to note is that turning off the "Show Branch Label" option and turning it back on causes the correct branch to be displayed (`orange` for project `foo-bar`) until the

[2016-05-10 16:35] subesokun commented on #23
Hi @rabbitfang, sorry to hear that you're also facing this issue.

Ok this is very interesting. That really sound like it's an issue of this package. Just to be sure, which branch name gets reported by Atom itself (see my last comment)?

[2016-05-10 18:10] rabbitfang commented on #23
In the `foo` package, Atom reports (in the lower right corner of the window, as in your comment) `apple`. In the `foo-bar` package, Atom reports `orange` (the correct branch).

[2016-05-20 18:44] nerdpad opened #24 "Push pending?"
Is it possible to show indicator when there are unpushed commits in a repo?

I have commits in my branch which are not pushed yet, so the remote branch is behind my local branch. Is there any way to indicate this?

[2016-05-20 19:57] subesokun commented on #24
Hi @NerdPad, unpushed commits are indicated by an⬆️arrow and if your branch is behind the remote branch this is indicated via an ⬇️ arrow for the current active branch. The numbers next to the arrows are showing how many commits you're ahead/behind, see https://github.com/subesokun/atom-tree-view-git-status/blob/master/screenshot.png?raw=true

Does this answer your question?

[2016-05-23 04:58] nerdpad commented on #24
@subesokun I have all the options selected, but I do not see any arrows, like the one in the screenshot.

How can I help?

[2016-06-06 15:45] nerdpad commented on #24
It's working. So closing the issue.

[2016-06-06 15:45] #24 closed, assigned to nobody

[2016-06-07 21:33] wolfadex opened #25 "Branch isn't visible in tree in Atom 1.8.0"
The name of the branch isn't visible in the tree.

Atom: v1.8.0
OS: Ubuntu 14.04

[2016-06-08 06:32] subesokun commented on #25
Hi @wolfadex, thanks for taking your time to report this issue. I'm currently working on that issue since Atom introduced in a minor release a breaking change... seems like they aren't bothering so much about semantic versioning :p A new release will be available by the end of this week.

[2016-06-10 17:13] xuchen81 opened #26 "Uncaught TypeError: Cannot convert undefined or null to object"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.3
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v0.2.3
### Stack Trace

Uncaught TypeError: Cannot convert undefined or null to object

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-06-11 13:56] subesokun commented on #26
Hi @xuchen81, a fix for Atom 1.8 is already ongoing and will be hopefully released by this WE. Closing this issue in favor of #25

[2016-06-11 13:56] #26 closed, assigned to nobody

[2016-06-12 09:28] subesokun commented on #23
Fixed via PR #27

[2016-06-12 09:28] #23 closed, assigned to nobody

[2016-06-12 09:28] subesokun commented on #22
Fixed via PR #27

[2016-06-12 09:28] #22 closed, assigned to subesokun

[2016-06-12 09:30] subesokun commented on #15
As it's still not clear how to create such tooltips in Atom I'll remove this feature for now and re-add it once there is some default tooltip generator.

[2016-06-12 09:32] subesokun commented on #13
Fixed via PR #27

[2016-06-12 09:32] #13 closed, assigned to subesokun

[2016-06-12 13:21] subesokun commented on #14
Fixed via PR #27

[2016-06-12 13:21] #14 closed, assigned to nobody

[2016-06-12 13:36] #25 closed, assigned to subesokun

[2016-06-12 13:50] subesokun opened #28 "Avoid flickering of project roots when adding/removing projects"
... needs improvement of the concurrent update handling of the root nodes.

[2016-06-12 19:40] seanbuscay commented on #25
Thank you for such a quick fix. Your package is very helpful and I'll be glad to have it back.

[2016-06-12 19:44] subesokun commented on #25
@seanbuscay, sure you're welcome :) v1.0.0 has been released so you can give it a try 😃

[2016-06-13 18:24] jschilperoord opened #29 "Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not ..."
Right click in tree view. And dan click on "Add project folder". Select folder to add to project. And click on OK.

After this the error popped up.

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v1.0.0
### Stack Trace

Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': Th

[2016-06-14 05:34] subesokun commented on #29
@jschilperoord, thanks for reporting! It looks like some unhandled race condition, I'll try to get soon a bugfix ready for that. Is this error always occurring or only sporadic?

[2016-06-14 05:35] jschilperoord commented on #29
Only sporadic. I'll report back when its occurring more frequently 👍

[2016-06-20 16:18] crucialfelix commented on #29
I'm getting this as well.

I'm adding and removing project folders using `atom.project.addPath` / `atom.project.removePath`

Basically the same error as @jschilperoord posted above:

[code]

[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.2
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package, v1

[2016-06-20 16:38] crucialfelix commented on #29
Not sure if this is related (or causing it).  I also see this posted _twice_ when I first reload the project (I'm in development mode):

[code]

This is before any add/remove folders have been done. Fresh reload of this test project in Atom.

Note twice, which is odd in that I have currently 3 healthy git folders added to the project.

![screen shot 2016-06-20 at 18 36 25](https://cloud.githubuser

[2016-06-20 20:48] subesokun commented on #29
This bug seems to be happening more likely on OSX. I've added a fix via 40bd042db5feb81efade7ccf8c706fbc007a6a83 which will hopefully solve this issue. For some reason this error doesn't get thrown on my machines so I can't reproduce it at the moment.

Could you do me a favor and test the latest master?

[code]

If the error has gone I'll prepare a new release.

[2016-06-20 20:55] subesokun commented on #29
@crucialfelix The `TypeError: Cannot read property 'indexOf' of undefined` sounds also not good but as it's getting thrown from the Git Repo Async library it's bit hard to debug. Hopefully this error won't affect the way how tree-view-git-status works but it needs to be investigated.

[2016-06-21 07:04] crucialfelix commented on #29
I've tested your fix and it no longer throws `Error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

The exact test case for me is:

Programmatically do `atom.project.addPath / atom.project.removePath`

This is done in the not yet released update of https://github.com/crucialfelix/atom-supercollider

It still posts the indexOf error but that is unre

[2016-06-21 17:57] subesokun commented on #29
Ok, thanks for the feedback :) I'll keep an eye on the other `indexOf` error. The version v1.0.1 will be released in a few moments.

[2016-06-21 17:57] #29 closed, assigned to nobody

[2016-07-15 09:10] okdewit opened #30 "Uncaught TypeError: Cannot read property 'then' of undefined"
I think this might be related to the removal of node-git from atom/atom (https://github.com/atom/atom/pull/12167), because this error started popping up since I've upgraded to that build.

[Enter steps to reproduce below:]
1. Add project folder or remove project folder

**Atom Version**: 1.10.0-dev-0708140
**Electron Version**: 0.37.8
**System**: Linux Mint
**Thrown From**: [tree-view-git-status](

[2016-07-15 16:07] subesokun commented on #30
@okdewit thanks for reporting this bug. I'll try to investigate and prepare a fix for it.

[2016-07-17 16:06] #30 closed, assigned to subesokun

[2016-07-17 16:12] subesokun commented on #30
@okdewit If included now a fix which will prevent the error from being raised. It took me quite some time to migrate to the new async Git API and now they're removing it again... As Atom 1.10 is an alpha(?) version I'll keep an eye on it an hope they will readd the async API again or otherwise I'll get big troubles here :/

[2016-07-17 21:23] jontie-vWork opened #31 "updated to latest"
I am using osx and the package is not working.

[2016-07-18 17:52] subesokun commented on #31
Hi @jontie-vWork, do you've some more information for me? Atom version, package version, any error messages or screenshots, ... I've tested the latest v1.0.2 release also on OSX and it worked for me.

[2016-08-02 15:22] chance-focalcast commented on #31
I'm having the same issue.

I'm running on Atom 1.9, package 1.0.2, and I'm on OSX.

![image](https://cloud.githubusercontent.com/assets/19413577/17334670/b5846f74-589c-11e6-98c6-888607d7b0a8.png)

![image](https://cloud.githubusercontent.com/assets/19413577/17334216/0554e26a-589b-11e6-99a9-898a7bdf311c.png)

No error messages are appearing.

Only started happening yesterday after closing and reop

[2016-08-02 19:44] subesokun commented on #31
@chance-focalcast, the package is currently not working together with the
latest Atom 1.9 as some API has been deprecated but a patch will be soon
available.

chance-focalcast notifications@github.com schrieb am Di., 2. Aug. 2016,
17:22:

[2016-08-02 19:57] chance-focalcast commented on #31
Fantastic! Thanks for the notice.

[2016-08-04 18:06] joshuatoenyes commented on #31
Same issue here (OS X on Atom 1.9.2). Thanks @subesokun!

[2016-08-04 18:51] #31 closed, assigned to nobody

[2016-08-04 20:51] james-poore opened #32 "TypeError: Cannot read property 'then' of undefined"
I am having the same issue as: https://github.com/subesokun/atom-tree-view-git-status/issues/30 This seems to have come back.  Did the async Git API change again?  Although I am running an older, stable version of Atom compared to the version in the other issue.

[Enter steps to reproduce below:]
1. Enable tree-view-git-status

**Atom Version**: 1.9.2
**System**: Mac OS X 10.11.6
**Thrown From**:

[2016-08-05 12:36] ayberkozgur opened #33 "Doesn't work in a symlinked directory"
Nothing is displayed next to the project name when the project directory is symlinked to somewhere else.

[2016-08-06 07:35] subesokun commented on #33
Hi @ayberkozgur, in case the directory is symlinked do you see any Git status in lower right corner of Atom itself? If Atom doesn't report the directory as a Git repository then this package won't show also any information. If Atom also doesn't show any Git status you might need to file an issue directly to Atom.

[2016-08-06 07:38] subesokun commented on #32
@james-poore mhh very strange. I was testing the v1.1.0 release yesterday on Linux, Windows and OSX and also after heavy use on OSX I couldn't reproduce it. Also CI tests are looking good so far. Maybe something went wrong during installation. Could you try to uninstall the package once, restart Atom and then reinstall it? Sorry for the troubles.

[2016-08-07 13:55] chancegraff opened #34 "Show branch for submodules"
![image](https://cloud.githubusercontent.com/assets/8976922/17462764/0a6d9a86-5c7d-11e6-9281-568d0d4676f1.png)

It'd be awesome if the submodules in this project (ie the folders) showed their branch/status so I don't have to individually add all of their folders as projects, such as seen here:

![image](https://cloud.githubusercontent.com/assets/8976922/17462752/cd0e05e0-5c7c-11e6-8266-e010c7d2c8b

[2016-08-08 09:26] ayberkozgur commented on #33
@subesokun you're right, I didn't notice that. I'll move this to atom. Thanks.

[2016-08-08 09:26] #33 closed, assigned to nobody

[2016-08-08 17:51] subesokun commented on #34
Hi @seegraff, definitely an interesting feature :) Personally I use only rarely submodules but others might use them more frequent. If Atom (i.e. Atom's GitRepository) allows to read our the branch name of a submodules then this feature would be possible. Any investigation in this direction would be welcome :)

[2016-08-08 17:57] chancegraff commented on #34
From https://atom.io/docs/api/v0.208.0/GitRepository#instance-getDirectoryStatus

[code]

[2016-08-18 18:10] subesokun commented on #34
Ok, technical wise this feature should be possible. The tricky part will then be to hook into the tree-view to get informed then a folder gets opened and then scan the child folders for the "submodule flag". Also the whole [treeviewui.coffee](https://github.com/subesokun/atom-tree-view-git-status/blob/master/lib/treeviewui.coffee) needs to be more generic to support upgrading root nodes as well as

[2016-08-25 17:45] valdrinkoshi opened #35 "show branch info for subfolders"
It would be nice to see the branch information for each subfolder:
<img width="191" alt="screen shot 2016-08-25 at 10 40 36 am" src="https://cloud.githubusercontent.com/assets/6173664/17979713/e87b2be0-6ab0-11e6-9d50-5e1727660674.png">

[2016-08-28 14:52] subesokun commented on #35
Hi @valdrinkoshi, this feature would be only possible if Atom recognizes the sub folders as repositories. But as shown on your image Atom currently doesn't detect if those sub folders are repositories. Maybe you can file an issue directly on Atom so that they implement this feature. Hence I'm closing this issue for now but feel free to ping me here again once this feature is available in Atom :)

[2016-08-28 14:52] #35 closed, assigned to nobody

[2016-10-14 20:20] ProLoser opened #37 "Branch info invisible when tree is in focus"
This is when the tree panel is not in focus:

![image](https://cloud.githubusercontent.com/assets/67395/19401577/e69b2a32-9210-11e6-8efb-47dfc0d6b391.png)

This is what I see when it is focused:

![image](https://cloud.githubusercontent.com/assets/67395/19401572/d9422ea8-9210-11e6-8fb2-6339f9ae4c72.png)

[2016-10-15 07:32] subesokun commented on #37
Hi @ProLoser, could you tell me which theme you're using? Most likely your currently used theme has a too restrictive CSS query for styling the project name.

[2016-10-15 22:00] ProLoser commented on #37
![image](https://cloud.githubusercontent.com/assets/67395/19413649/27522472-92e8-11e6-9ed8-28431dbb8820.png)

[2016-10-20 15:47] zenopopovici opened #38 "Special characters cause it to wrongly show tree as modified"
![screen shot 2016-10-20 at 18 47 01](https://cloud.githubusercontent.com/assets/767998/19567229/a2b7717e-96f5-11e6-809e-c61f8918d12a.png)

[2016-10-20 15:54] zenopopovici commented on #38
Sorry ... this isn't the plugin causing it. My mistake.

[2016-10-20 15:54] #38 closed, assigned to nobody

[2016-10-27 20:51] rcrooks opened #39 "This wonderful package stopped working for me"
I think just today, though not sure. Thought it might be related to the UI theme, but tried others with no luck. Haven't seen any errors, just stopped working.

[2016-11-01 19:30] subesokun commented on #39
Hi @rcrooks, sorry for the delayed answer. Could you tell me which version of Atom you're using and which UI theme? Does switching back to a standard UI theme help?

[2016-11-01 19:35] rcrooks commented on #39
Hi @subesokun - I've tried it both on the current released and latest beta versions of Atom, and switching UI themes makes no difference. If you haven't had other reports of this, I'm guessing it's a conflict with some other package. Guess there's nothing to do but disable them one by one and try to find the culprit (sigh:)

[2016-11-04 19:58] ctcpip commented on #39
+1 on fresh install of Atom and this package on OSX Sierra

[2016-11-04 20:06] subesokun commented on #39
Do you see any branch information when opening a version controlled file with Atom on the bottom right pane of the editor?

[2016-11-04 20:10] rcrooks commented on #39
Sorry, thought I'd responded earlier - I figured out the issue - I'd opened a site folder that had some of my git project symlinked into it. When I open the original git working copy folders, all is well. Unless you feel like trying to tackle the symlink use case, feel free to close this.

[2016-11-04 20:21] subesokun commented on #39
Ah right, Atom doesn't recognise symlinked Git repositories so there is actually nothing I can do about :( But thanks for the heads-up!

[2016-11-04 20:42] ctcpip commented on #39
Figured out my issue as well - I was adding a root folder which _contained_ folders under SCM.  I guess the git information is only picked up if the project directory added is the actual git repo directory.

[2016-11-07 08:51] subesokun commented on #39
@ctcpip glad to hear that is working for you again. Mhhh thought this feature used to work before. I'll look into it but closing this issue for now.

[2016-11-07 08:51] #39 closed, assigned to nobody

[2016-12-06 12:33] lefta opened #41 "Package not working if the project is a symlink"
When the project is a symlink, the package is not working. The project is displayed as usual, without any git information.

Atom: v1.13.0-beta6
OS: Gentoo Linux

[2016-12-11 10:37] #41 closed, assigned to nobody

[2016-12-11 10:58] subesokun commented on #41
v1.3.0 has been releases 🎉 Thanks a lot!

[2016-12-30 21:45] mikeerickson opened #43 "Nothing is appearing?"
I have the plugin installed and configured, but nothing is displaying?

![image](https://cloud.githubusercontent.com/assets/183153/21573167/2e677bce-ce96-11e6-833a-33408890374c.png)

![image](https://cloud.githubusercontent.com/assets/183153/21573171/39291734-ce96-11e6-8a55-5492bf26f837.png)

[2016-12-30 21:46] mikeerickson commented on #43
I have this same plugin installed on work machine and all is groovy there? Am I missing something here?

[2016-12-30 21:47] mikeerickson commented on #43
Here is another project (so it is not associated to the above project specifically)

![image](https://cloud.githubusercontent.com/assets/183153/21573196/8672ba36-ce96-11e6-90ee-7212725356ef.png)

[2016-12-30 21:49] mikeerickson commented on #43
Theme:  Seti Classic (this is the same theme I use at work and no issues)

![image](https://cloud.githubusercontent.com/assets/183153/21573212/afb2cb66-ce96-11e6-81e7-0133a2da9bcc.png)

[2017-01-16 15:57] userlerueda commented on #43
@mikeerickson I had the same problem, but mine was that the top level project directory I added was not the top level directory for the git repository, I found out they both had to match for anything to be highlighted, is this your case?

[2017-01-17 01:28] mikeerickson commented on #43
@userlerueda So far as I can tell, they are both at the "top level" (which is my project root).

[2017-01-17 01:33] mikeerickson commented on #43
@userlerueda Here is what is bizarre

1. project is tree does not have current branch
2. using the [git-status](https://atom.io/packages/git-status) package, it correctly shows branch (see bottom right)

![image](https://cloud.githubusercontent.com/assets/183153/22004578/97403522-dc11-11e6-8b7a-16fdf9a5c7fe.png)

[2017-01-17 05:42] subesokun commented on #43
Sorry for the late answer! I'll try to analyze this issue by this weekend.

[2017-01-22 08:51] subesokun commented on #43
Hi @mikeerickson, I've installed now Seti-Classic theme + syntax as well and the git status gets correctly displayed in my case. Hence the theme itself seems to be compatible with the tree-view-git-status package.

@userlerueda Regarding the top level directory issue, this has been already solved in some previous release so you can add the top level directory or any other sub directory of the proj

[2017-01-23 22:49] userlerueda commented on #43
Hi @subesokun I guess I didn´t explain myself correctly, what I meant is say I have a parent folder called GitHub, I place all my repositories inside as folders, I wish to be able to add the GitHub main folder and have the option to see the individual folders (repositories) and once I clic on them for them to show me which branch is being used, etc. Not sure if it makes sense, maybe it doesn't.

[2017-02-03 02:14] pingshunhuangalex opened #44 "Git Status Label is not showing any more"
I have never had any problem with this plugin, but out of the blue, it just stops showing the branch status label next to the repository name...
![image](https://cloud.githubusercontent.com/assets/17170199/22576827/24f944fe-ea12-11e6-9fb2-5fed8486d855.png)

The repository is still recognised and can be manipulated without any problems (colouring based on git status, switching branches, commit, pus

[2017-02-03 21:00] subesokun commented on #44
Hi @pingshunhuangalex, sorry to hear that you've issues. Could you give me some more details like which Atom version are you using, which OS and which Atom theme?

Also if you open a file of your `SNACRF` project, do you see any branch information like `master` on the bottom right of your editor?

[2017-02-03 21:09] subesokun commented on #43
I see, yes indeed Atom is not indented to use that way. Atom won't recognize a folder as a Git repository if the current project folder is not the root Git folder itself (or any subfolder of it). Instead of your GitHub folder you should add each repository folder separately as a project to Atom. If you've troubles to add all repos to your Atom upon a restart you can also use the [project-manager](

[2017-02-03 21:09] #43 closed, assigned to nobody

[2017-02-04 01:36] pingshunhuangalex commented on #44
Hi @subesokun

Thanks for the reply.

I'm using Win 10 64-bit. The problem first popped up in the latest stable version (`1.13.1`), then I switched to the latest beta version (`1.14.0 beta 4`), the issue remains. Both of the version I tested on clean installation and wipe out everything including cache.

The theme I'm using is `material-ui` and `material-syntax-dark`. I did try to switch it back t

[2017-02-07 09:59] pingshunhuangalex commented on #44
@subesokun Any luck on finding what could possibly go wrong here? Thanks.

[2017-02-07 18:53] subesokun commented on #44
@pingshunhuangalex I was testing it now on Window, Linux and macOS with the latest version of Atom had no issues so far. I had only a little trouble with the beta version of Atom. But after reinstalling the `tree-view-git-status` package and uninstalling some other tree view related packages it was working again. Probably one of the other packages messed up my Atom. Not sure if the reinstallation

[2017-02-07 22:25] pingshunhuangalex commented on #44
Hi @subesokun
I'm glad you mentioned all the details including the trivial above. After checking the Developer Tools (no error found), I just went away and reinstall `tree-view-git-status` and it just works like a charm now...

I did clear everything and now I'm even using a 64-bit atom beta which should start everything from scratches, but obviously there is probably still something hidden. I did

[2017-02-07 22:28] pingshunhuangalex commented on #37
Same problem with Material Theme, but I guess there is probably nothing you can do here. The author of this theme seems to be inactive for a while now...

[2017-02-08 03:26] pingshunhuangalex commented on #44
Hi @subesokun
Sorry, I jump to the conclusion there.
What really happened is after I restart Atom, the git status label goes away again. Then I found out there is no `tree-view-git-status` options in the command menu (`ctrl+shift+p`) at all when it first starts. I have to go into the package to disable then re-enable the package for everything to work. And when I restart atom again, I'll lose it a

[2017-02-08 17:02] subesokun commented on #44
Thanks for your investigation! This sounds to me like in your case `atom.packages.onDidActivateInitialPackages` never gets fired 😕 https://github.com/subesokun/atom-tree-view-git-status/blob/master/lib/main.coffee#L46 could you add some `console.log` to see if this function gets called in your case when restarting the editor?

[2017-02-08 23:15] pingshunhuangalex commented on #44
Hi @subesokun
Thanks for the instructions. Hope the screenshot below helps. Thanks.
![image](https://cloud.githubusercontent.com/assets/17170199/22761842/a60c6f6a-eeb0-11e6-9483-e7485c6e426c.png)

[2017-02-09 06:06] pingshunhuangalex commented on #44
Hi @subesokun
Finally, I found the reason. As you can see from the screenshot above, it's the `autocomplete-python` package I'm using that's blocking your package from starting up because it can't cope with space in windows user directory. Issue reported here: https://github.com/autocomplete-python/autocomplete-python/issues/282

However having said that, `tree-view-git-status` is the only package

[2017-02-10 00:02] pingshunhuangalex commented on #44
Hi @subesokun
I found a way to turn off the kite engine in `autocomplete-python`, so nothing will block `tree-view-git-status` at startup. If you can still find a workaround, that'll be a plus. However, if you struggle, maybe just leave it as it is as it's been taken care of. Thanks.

[2017-02-10 00:02] #44 closed, assigned to nobody

[2017-02-17 21:48] subesokun commented on #44
Sorry for the delay and thanks a lot for you investigations! I've released now a new version that comes with a workaround for the issue that one ore more packages are failing to activate. Could you test if that solves also your issue with `autocomplete-python`?

[2017-02-18 01:57] pingshunhuangalex commented on #44
Hi @subesokun
Thanks for getting back to me. I tried to turn the `kite-engine` back on in `autocomplete-python`, but I think the guys there also took precaution about this, i.e. the option won't be turned on if it's not supported as it's now a mac-only feature.

Therefore, long story short, there is nothing I can test on as all packages are loading just fine, but I believe the extra second should

[2017-03-15 12:59] cdknudsen8 opened #45 "just started seeing ignore files in tree view (e.g. *.pyc)"
This just started happening

[2017-03-15 19:35] subesokun commented on #45
This feature just part of the Atom tree-view itself so you've to file your issue there :) closing this one.

https://github.com/atom/tree-view

[2017-03-15 19:35] #45 closed, assigned to nobody

[2017-03-16 01:07] mathcad opened #46 "sometimes tree view status display abnormal"
~~sometimes, there's no modification, but when open the file, it marked as modified in tree view. status bar says all line were replaced.~~
~~use 'git status' command could comfirm there's nothing changed in this file.~~

Ohh....it's not this pluggin's problem....sorry

[2017-03-16 06:10] subesokun commented on #46
Hehe yes just wanted to say that you've to file your issue here https://github.com/atom/git-utils
Closing this one :)

[2017-03-16 06:10] #46 closed, assigned to nobody

[2017-04-04 13:06] baelter opened #48 "Files with åäö always marked as new"

[2017-04-04 13:08] #48 closed, assigned to nobody

[2017-04-23 14:15] vastsoun opened #49 "Not Working w/ Symbolic Links"
Hi,

Instead of tediously adding each repo directory to the project, I use a "src" dir where I place symbolic links to all repositories. In this case, atom-tree-view-git-status does not show the status any more. Do I have to configure something to get this to work or is this missing?

[2017-05-26 19:48] radAragon opened #51 "[Git Flow support] Master branch icon missing"
Report: I see the gray color on my master branch (actually named "releases") but the icon is missing. The other icons on develop, feature and hotfix branches are lovely perfect.

Below is my .git configuration:

[code]

[2017-05-31 08:12] Chaoste opened #52 "Files not colored"
Hello erveryone,

I just installed "atom-tree-view-git-status" without having any other packages than the core packages. In some other devices I already saw files being colored by their git status (orange, green or gray), but this is not happening right now for a new opened project ("File->Add Project Folder").

Maybe this isn't a bug but just my misunderstanding which causes the problem. The fold

[2017-06-01 05:05] OmgImAlexis opened #53 "Uncaught TypeError: Cannot read property 'customElements' of undefined"
The git repo is `~/code/Twistly`.

[Enter steps to reproduce:]

1. `atom ~/code/Twistly/api`
2. Added `~/code/Twistly/frontend` as a project folder in tree view

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.3
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package 1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'c

[2017-06-03 12:04] 747 commented on #52
Same here. In my environment only project folders are colored. I'd like to know what I'm missing.

OS: Windows 10 (Creators Update)
Atom: v1.17.2 ia32

[2017-06-04 15:17] subesokun commented on #53
Hi @OmgImAlexis, thanks for taking your time to report this issue! Since when are you getting this error message? I'll add some more sanity checks to avoid that this error appears but I've no guess so far what the root cause could be.

[2017-06-04 15:23] subesokun commented on #52
Hi @Chaoste, actually this isn't an issue of the tree-view-git-status package but of the tree-view core package of Atom itself. What this tree-view-git-status package does is actually only to color the project root folder but not the files within it. You may report your issue here https://github.com/atom/tree-view

[2017-06-04 15:23] #52 closed, assigned to nobody

[2017-06-04 16:03] OmgImAlexis commented on #53
I've only had it once and it hasn't happened since.

[2017-06-04 16:05] OmgImAlexis commented on #53
[Enter steps to reproduce:]

Same as above.

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.3
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package 1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'customElements' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-09 08:15] normoes opened #54 "not working when top folder does not contain .git folder"
tree-view-git-status seems not to consider a top level folder, which itself does not contain a .git folder, but contains folders that contain .git folders.

---

- Add a folder (**top level folder**), that itself does not contain a .git folder, to atom.
  - Within this folder the git repository folders are located, e.g. **git_repo**.
  -  In tree-view there is no git status information displayed f

[2017-06-15 04:50] OmgImAlexis commented on #53
[Enter steps to reproduce:]

1. Same issue again.

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.3
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package 1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'customElements' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-18 10:13] alvaropinot commented on #16
Related with https://github.com/facebook/nuclide/issues/1205

[2017-08-08 19:40] nklmilojevic commented on #54
I have this issue as well.

[2017-09-09 12:25] subesokun commented on #54
Sorry for the late reply. This is actually not an issue of this package but of Atom's implementation of the TreeView. Atom doesn't support so far nested Git repositories hence the top level project has to be a Git repository.

[2017-09-09 12:25] #54 closed, assigned to nobody

[2017-09-09 12:28] subesokun commented on #49
So you're saying you've a top-level project which contains several symbolic links to all of your repositories you're working on? If that is the case please have a look on #54. So far Atom doesn't support nested Git repositories.

[2017-09-23 07:05] CruelBoy opened #55 "Failed to load the tree-view-git-status package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.20.1 x64
**Electron**: 1.6.9
**OS**: Unknown Windows version
**Thrown From**: [tree-view-git-status](https://github.com/subesokun/atom-tree-view-git-status) package 1.4.0

### Stack Trace

Failed to load the tree-view-git-status package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-10-28 18:24] gagregrog opened #56 "Git branch status color not working in tree-view with Seti UI Theme"
Hello! I love your package, it's hugely beneficial.

The package works fine for me with the default Atom themes, but when I switch to the Seti UI theme the color status does not show in tree view. I don't know enough about Atom packages to say if this is an issue with the Seti UI package, or with your package.

Initially, the lack of color was the only issue I encountered. However, recently the br

[2017-10-28 20:17] gagregrog commented on #56
Update:

After restarting the computer, git status is no longer showing again.

<img width="295" alt="screen shot 2017-10-28 at 1 13 06 pm" src="https://user-images.githubusercontent.com/20693762/32138090-fa9f5cd2-bbe1-11e7-8ef8-cad8d1c2aac4.png">

Even though `master` branch is indicated in the bottom right corner.

<img width="114" alt="screen shot 2017-10-28 at 1 13 24 pm" src="https://user-ima

[2017-10-28 20:33] subesokun commented on #56
Thanks for using my package :) I can confirm the color issue but I need to investigate if that is a Seti UI issue or if I can do something about that. The issue with the missing branch name I can't reproduce so far.  Do you've some other package installed that has influence on the tree-view?

[2017-10-28 20:54] gagregrog commented on #56
Hi @subesokun, thanks for responding so quickly!

I have quite a few packages that I use, but the only one that I think would act upon the tree-view would be `file-icons`.

Below is the complete list of community packages I have installed:

`atom-beautify` 0.30.5
`atom-ternjs` 0.18.3
`busy-signal` 1.4.3
`color-picker` 2.2.5
`file-icons` 2.1.11
`git-log` 0.4.1
`git-time-machine` 1.5.9
`highlight-se

[2017-10-28 21:30] gagregrog commented on #56
Alright, well now I'm even more confused than ever. I completely uninstalled everything, and upon reinstalling Atom, tree-view-git-status no longer shows my branch name even when it is the first package I install.

I removed atom via the following Terminal commands, could that have anything to do with these issues?

[code]

[2017-10-28 21:56] gagregrog commented on #56
I don't know if this will help, but I opened the dev tools and was given this warning. Do you think it is connected to the issue?

<img width="553" alt="screen shot 2017-10-28 at 2 55 11 pm" src="https://user-images.githubusercontent.com/20693762/32138891-2baa74ca-bbf0-11e7-9230-ed80e6ab8cac.png">

[2017-10-29 02:16] gagregrog commented on #56
...and it's gotten even stranger. After working on a branch for about an hour or so, I noticed that the branch name magically had appeared. I don't know when, and I don't know why, but it was there.

After a restart it was gone again. Is there something that could be happening during the boot process that would stop it from working, that would somehow magically fix itself after a given amount of t

[2017-10-29 22:50] subesokun commented on #56
Sorry to hear that you've that much troubles. Usually just disabling other packages is already enough and you don't have to reinstall Atom itself or remove other packages.

Regarding the disappearing branch name, well that happens if the tree-view refreshes but doesn't inform the tree-view-git-status package about it. A tree-view refresh can be triggered by many things (resizing window, change pro

[2017-10-29 22:56] subesokun commented on #56
btw. if you like dark themes you could try using the pre-installed `One Dark` theme and see if you've there the same issues. If not, then the disappearing branch name issue might be really related to the Seti UI theme.

[2017-11-01 18:08] gagregrog commented on #56
Thanks for the info.

There are some additional peculiarities. For example, I noticed that after working on a branch for about an hour or so, that the branch status at some point had magically reappeared in tree view.

I then restarted my computer to see if that would affect it, and sure enough after restarting the branch status was gone again. I tried replicating everything I did during my work i

[2017-11-01 18:08] #56 closed, assigned to nobody

[2017-11-13 05:37] ccqgithub opened #57 "Tree-view empty when reopen folder"
### Description

Tree-view empty when reopen folder

### Steps to Reproduce

1. Start atom, open a new window, add a project folder
2. Close the window, open a new window, add the same project folder, then the tree view is empty, and the console log:
[code]
3. close the window, run `atom -clear-window-state` in shell, and reopen the same folder, it is  OK. (or restart atom, it is OK)
4. close the

[2017-11-18 23:57] varemenos commented on #49
I have all my repos in a specific folder called projects (`/mnt/drivename/projects`) which I symlinked in my `~/home` directory.

Whenever I open Atom with the symlinked path for example `~/home/projects/atom-tree-view-git-status`, this package doesn't work. If I open Atom with the non-symlinked path `/mnt/drivename/projects/atom-tree-view-git-status` then it works just fine.

[2017-12-16 10:20] bazzilic commented on #4
Is this still not possible to do with Atom?

[2018-03-23 05:35] tlex commented on #49
Same here, adding a symlink as project folder opens the project but doesn't display the current branch in the tree view. When adding the real path, it works.

[2018-04-08 09:58] #49 closed, assigned to nobody

[2018-04-08 10:16] subesokun opened #59 "TODO: Clean up symlink logic"
Clean up symlink logic, see commits

- 2e72fab3afa315890042b1dcaaed91ec0d50f453
- e3e61b55137faa12a07dce81885cb4ba63dc7c0b

[2018-04-08 10:18] subesokun commented on #49
Just release v1.5.0, let me know if you've still issues 👍

[2018-05-19 09:37] bazzilic commented on #4
@subesokun hey, any updates on this?

[2018-05-19 09:58] subesokun commented on #4
Sorry I haven't followed the latest Atom release notes but I guess it's still not possible. You'd need to get in direct contact with the Atom developers to get more information.

[2018-08-25 15:52] danielb42 opened #61 "Commits do not update commit counters in project pane"
When doing a commit the ahead/behind counters next to the project name are not correctly updated. Only when saving the (unchanged) file once more the numbers suddenly become correct.

This affects any version of Atom after 1.25.1. That is the last version where a commit immediately updates the counters without needing an additional UI-action.

---

Package Version: 1.5.0

OS: Ubuntu 18.04
Atom Ver

[2018-08-27 07:25] subesokun commented on #61
Is the commit counter in the bottom bar of Atom correctly working for you? If it shows something different as the tree-view shows, then it might be an issue within this package. If not you'd need to contact the Atom support.

[2018-08-27 08:49] danielb42 commented on #61
Yes, the bottom bar is still "correct-on-commit".

[2019-01-10 13:07] iamsteelone opened #62 "Takes too long to update tree view"
When amending anything in the tree view, such as creating/saving/updating a file the colours do not come on until i leave the package and come back.

---

Package Version: 1.52

OS: Windows 10
Atom Version: 1.34.0
Atom UI Theme: Flatland Dark
Atom Syntax Theme: Railscast

[2019-01-11 13:18] andrepintado opened #63 "Files are colored even though there are no uncommited changes"
I have 5 colored files on my tree view (along with it's path, their parent's path, their parent's parent's path, etc, until the name of the project) even though there are no uncommitted changes.

I played around with the `core.ignorecase` git config attribute because I wanted to change the case of these files. I managed to change them, commit and push them. It's been quite a while now, I've worked

[2019-11-05 00:16] #61 closed, assigned to nobody

[2021-09-16 17:48] #16 closed, assigned to nobody

[2021-09-16 17:49] #28 closed, assigned to nobody

[2021-09-16 17:50] #59 closed, assigned to nobody

[2022-06-12 07:21] #63 closed, assigned to nobody

[2022-06-12 07:21] subesokun commented on #62
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:21] #62 closed, assigned to nobody

[2022-06-12 07:21] subesokun commented on #57
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:21] #57 closed, assigned to nobody

[2022-06-12 07:21] subesokun commented on #55
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:21] #55 closed, assigned to nobody

[2022-06-12 07:21] subesokun commented on #53
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:21] #53 closed, assigned to nobody

[2022-06-12 07:22] subesokun commented on #51
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:22] #51 closed, assigned to nobody

[2022-06-12 07:22] subesokun commented on #37
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:22] #37 closed, assigned to nobody

[2022-06-12 07:22] subesokun commented on #34
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:22] #34 closed, assigned to nobody

[2022-06-12 07:22] subesokun commented on #32
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:22] #32 closed, assigned to nobody

[2022-06-12 07:22] subesokun commented on #15
This project is no longer maintained as Atom and all repositories under Atom will be archived on December 15, 2022. Learn more in the [official announcement](https://github.blog/2022-06-08-sunsetting-atom/). Thank you for your interest in this project and your support!

[2022-06-12 07:22] #15 closed, assigned to subesokun